.container{
    display: flex;
    justify-content: center;
}

.err{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    width: 100%;
}

.wrapper{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    align-items: center;
    margin-top: 1.5rem;
    align-self: center;
    min-width: 300px;
    width: 100%;
    max-width: 1400px;
}

.tabs{
    border-bottom: 1px solid #ccc;
    width: 100%;
    display: flex;
}

.tabs button{
    margin-right: 2rem;
    font-size: 1.4rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.15s;
    outline: none;
    border-bottom: 1px solid;
}

.tabs button:hover{
    color: #000;
}

.networkHeading{
    border-bottom: 1px solid #ddd;
    margin: 1rem 0;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

.likedposts, .savedposts, .userPosts, .usercomments, .network{
    width: 100%;
}

.avatarWrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.avatarWrapper input {
    position: absolute;
    top:0;
    z-index: 100;
}