.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userIcon{
    border-radius: 50%;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.userIcon, .initials{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.initials{
    z-index: 0;
    position: absolute;
    background-color: blue;
    color: #fff;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    
}

.initials, .image{
    width: 100%;
    height: 100%;
}

.image{
    z-index: 1;
}

.input{
    padding: 0.25rem;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-top: 0.7rem;
}

.input::placeholder{
    color: #777;
}