.container{
    position: relative;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sidebar{
    position: absolute;
    right: 0%;
    margin: 2rem;
    margin-right: 4rem;
}

.posts{
    width: 55%;
    max-width: 700px;
}