.container{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0,0,0,0.09);
    width: 100%;
    padding: 2rem;
    margin-top: 2rem;
    position: relative;
    cursor: pointer;
}

.info{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.publish{
    margin-left: 1rem;
}

.time{
    color: #777;
    font-size: 1.4rem;
}

.date{
    margin-right: 0.25rem;
}

.length{
    margin-left: 0.5rem;
}

.title{
    color: #111;
    font-size: 2.5rem;
    margin-bottom: 0.25rem;
    line-height: 1.7;
    text-overflow: clip;
}

.body{
    color: #777;
    font-size: 1.9rem;
    margin-bottom: 0.75rem;
    line-height: 1.6;
    text-overflow: clip;
}

.readmore{
    color: #444;
    font-size: 1.5rem;
    text-decoration: none;
}

.readmore:hover{
    color: #000;
}

.tags{
    margin-top: 1.1rem;
}

.tag, .author{
    margin-right: 0.55rem;
    color: #000;
    text-decoration: none;
}

.tag:hover, .author:hover{
    text-decoration: underline;
}

@media(max-width: 650px){
    .container{
        padding: 1.5rem;
        margin-top: 1rem;
    }
    .info{
        margin-bottom: 1rem;
    }
}